body{
    background:#fafafa !important;
}

.nav {
    margin-left: 24vh;
       display: flex;
    gap: 20vh;
    font-family: 'Beaufort for LOL Bold', serif;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.nav a:hover {
    color: #a0866f;
}

.nav .login {
    background-color: #555; /* Cor de fundo do botão de login */
    border-radius: 5px; /* Cantos arredondados */
    padding: 8px 16px; /* Espaçamento interno do botão de login */
    font-weight: bold;
}

.nav .login:hover {
    background-color: #666; /* Cor de fundo do botão ao passar o mouse */
}

.nav-2 {
    margin-right: 10px;
    margin-left: 50px;
       display: flex;
    gap: 20vh;
    font-family: 'Beaufort for LOL Bold', serif;
}

.nav-2 a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.nav-2 a:hover {
    color: #a0866f;
}

.nav-2 .login {
    background-color: #a0866f; /* Cor de fundo do botão de login */
    border-radius: 5px; /* Cantos arredondados */
    padding: 2px 6px; /* Espaçamento interno do botão de login */
    font-weight: bold;
}

.nav-2 .login:hover {
    background-color: #666; /* Cor de fundo do botão ao passar o mouse */
}

#profileContainer {
     display: flex;
    align-items: center;
}

#profileIcon {
    font-size: 20px;
    color: #a0866f; /* Cor do perfil */
    font-weight: bold;
    margin-right: 20px;
}

#logoutButton {
     font-size: 14px;
     padding: 7px;
     color: white;
     background-color: #ff4d4d;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}

#logoutButton:hover {
     background-color: #ff3333;
}

table.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 15px;
  }

  .custom-table thead {
    background-color: #f5f5f5;
  }

  .custom-table thead th {
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }

  .custom-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }

  .custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .custom-table tbody td,
  .custom-table tbody th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
  }

  .completed-row {
    background-color: #75b798 !important;
  }

  .table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #333333;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .search-bar {
    flex-grow: 1;
    max-width: 400px;
    margin: 0 10px;
  }

  .add-task-btn {
    background-color: #6d44b8;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-left: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .add-task-btn:hover {
    background-color: #a0866f;
  }

  .task-actions button {
    margin-right: 5px;
  }

  .completed {
    color: gray;
    text-decoration: line-through;
  }